<% provide(:title, @user.name) %>
<br>
<div class = "row">
    <aside class = "col-md-4">
        <section class = "user-info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name.upcase %>
            </h1>
        </section>
    </aside>
</div>